Debug/
Release/
PapyrusPlusPlus/Debug/
PapyrusPlusPlus/Release/
PapyrusPlusPlus/installer/bin
PapyrusPlusPlus/installer/bin64
PapyrusPlusPlus/installer/out/*
!PapyrusPlusPlus/installer/out/.keep

.vs/
*.vcxproj.user
*.VC.VC.opendb
*.VC.db