Debug/
Release/
PapyrusPlusPlus/Debug/
PapyrusPlusPlus/Release/
PapyrusPlusPlus/export/bin
PapyrusPlusPlus/export/bin64
PapyrusPlusPlus/export/out/*
!PapyrusPlusPlus/export/out/.keep

.vs/
*.vcxproj.user
*.VC.VC.opendb
*.VC.db